/*-- scss:defaults --*/

// Colors
$primary: #1A162D;
$secondary: #FAFAFA; // FAAAAR FAFAFAFAFA FAAAAR BETTER
$tertiary: #FDEBA4;

$black: #000000;
$blue: #38577F;

$light-yellow: #FDF4D1;
$light-gray: #F2F2F2;

// Base document colors

// Navbar
$navbar-bg: $primary;
$navbar-fg: $secondary;
$menu-text: $tertiary;

// Body and Footer
$body-color: $black; 
$body-bg: $secondary;
$footer-bg: $light-yellow; 

// Code Blocks
$code-color: $primary;
$code-block-bg: $light-gray;

// Misc
$link-color: $blue;

.navbar a, .nav-link {
  &:hover {
    color: $light-yellow;
  };
  &:focus,
  &.active {
    color: $tertiary !important;
  }
}

/*-- scss:rules --*/

/* Navbar social media buttons tweak */
.navbar-nav.navbar-nav-scroll.ms-auto {
    flex-direction: row;
}

/*  About Me ---------------------------------------------------------------*/

/* Resizes about page photo container */
@media(min-width: 992px) {
    div.quarto-about-trestles .about-entity {
        flex:0 0 22%;
    }
}

/* A bit more padding */
div.quarto-about-trestles .about-entity {
    padding-top: 1em;
}

/* Blog post --------------------------------------------------------------*/

/* Tabset navpills customization */
.tab-content {
  border-color: #dee2e6;
}

.nav-tabs {
    --bs-nav-tabs-border-color: #dee2e6;
    --bs-nav-tabs-link-hover-border-color: #dee2e6;
    --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #FAFAFA;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: #FAFAFA;
    --bs-nav-pills-border-radius: 0.0rem;
}

/* Back to top color and shadow tweak */
#quarto-back-to-top {
 box-shadow:  0 .2rem .5rem #dee2e6, 0 0 .05rem #2B2B2B;
 background-color: $light-yellow;
 color: #2B2B2B;
}

.nav-link.active {
    color: #728DB8 !important;
}

.quarto-grid-item .card-title {
  margin-bottom: .1em;
  font-weight: 500;
  font-size: 1em;
}

div.card-text.listing-description {
  font-size: .825em;
  font-weight: normal;
  color: darkslategrey;
}

.quarto-grid-item .card-text-small {
  font-size: .7em;
  color: darkslategray;
}