/*-- scss:defaults --*/

// Colors
$primary: #3C394D;
$secondary: #1C1C1C;
$tertiary: #FDEBA4;

$black: #000000;
$blue: #8FB0E6;
$gray: #EDEDED;

$light-yellow: #EDE2B9;
$light-gray: #2B2B2B;

// Base document colors

// Navbar
$navbar-bg: $primary;
$navbar-fg: $gray;
$menu-text: $tertiary;

// Body and Footer
$body-bg: $secondary;
$body-color: $gray;
$footer-bg: $light-yellow; 

// Code Blocks
$code-color: $primary;
$code-block-bg: $light-gray;

// Other
$link-color: $blue;

.navbar a, .nav-link {
  &:hover {
    color: $light-yellow;
  };
  &:focus,
  &.active {
    color: $tertiary !important;
  }
}

/*-- scss:rules --*/

/* Navbar social media buttons tweak */
.navbar-nav.navbar-nav-scroll.ms-auto {
    flex-direction: row;
}

/*  About Me ---------------------------------------------------------------*/

/* Changes social media text and boxes */
@media (min-width: 992px) {
    div.quarto-about-trestles .about-entity .about-link {
      color: #8E8E8E;
    }
  }

/* Resizes about page photo container */
  @media(min-width: 992px) {
    div.quarto-about-trestles .about-entity {
        flex:0 0 22%;
    }
}

/* A bit more padding */
div.quarto-about-trestles .about-entity {
    padding-top: 1em;
}

/* Darker division line */
@media (min-width: 992px) {
    div.quarto-about-trestles .about-contents {
      border-left-color: #2B2B2B;
    }
 }
/*  Blog ------------------------------------------------------------------*/

.card {
  border-color: #2B2B2B;
}

.listing-author {
  color: #8E8E8E;
}

.listing-date {
  color: #8E8E8E;
}

/* Blog post --------------------------------------------------------------*/

/* Code chunk comment color and style */
code span.co {
  color: #8E8E8E;
  font-style: normal;
}

/* Code chunk color tweak */
pre > code.sourceCode > span {
    color: #aca8c3;
}

/* Code on header color and background color */
code {
 background-color: #2B2B2B; 
 color: #EDEDED;
}

/* Inline code color, background color, and padding */
p code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode) {
    background-color: #2B2B2B;
    color: #EDEDED;
    padding: .2em;
}

/* Table customization */
.table {
  border-top-color: #2B2B2B;
  border-bottom-color: #2B2B2B;
}

.table > thead {
  border-bottom-color: #4B4B4B
}

/* Sidebar line color */
.sidebar nav[role=doc-toc]>ul a {
  border-left-color: #2B2B2B;
}

/* Header line color */
h2, .h2 {
  border-bottom-color: #2B2B2B;
}

/* Tabset navpills customization */
.tab-content {
  border-color: #2B2B2B;
}

.nav-tabs {
    --bs-nav-tabs-border-color: #2B2B2B;
    --bs-nav-tabs-link-hover-border-color: #4B4B4B;
    --bs-nav-tabs-link-active-border-color: #2B2B2B #2B2B2B #1C1C1C;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: #1C1C1C;
    --bs-nav-pills-border-radius: 0.0rem;
}

.navbar a:focus, .navbar a.active, .nav-link:focus, .nav-link.active {
    color: #728DB8 !important;
}

/* Back to top color and shadow tweak */
#quarto-back-to-top {
 box-shadow:  0 .2rem .5rem #4B4B4B, 0 0 .05rem #2B2B2B;
 color: #8E8E8E;
}
