/*-- scss:defaults --*/

// Colors
$primary: #1A162D;
$secondary: #1C1C1C;
$tertiary: #C4A85B;

$black: #000000;
$blue: #8FB0E6;
$gray: #EDEDED;

$light-yellow: #EDE2B9;
$light-gray: #2B2B2B;

// Base document colors

// Navbar
$navbar-bg: $primary;
$navbar-fg: $gray;
$menu-text: $tertiary;

// Body and Footer
$body-bg: $secondary;
$body-color: $gray;
$footer-bg: $light-yellow; 

// Code Blocks
$code-color: $primary;
$code-block-bg: $light-gray;

// Other
$link-color: $blue;

.navbar a, .nav-link {
  &:hover {
    color: $light-yellow;
  };
  &:focus,
  &.active {
    color: $tertiary !important;
  }
}

/*-- scss:rules --*/

@media(min-width: 992px) {
    div.quarto-about-trestles .about-entity {
        flex:0 0 22%;
    }
}

div.quarto-about-trestles .about-entity {
    padding-top: 1em;
}